*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #edeff0;
}
header{
    background-color: white;
}
header a{ 
    display: inline-block;
    padding: 15px; 
    text-decoration: none;  
    color: black;
}
header #logo{
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}
header nav li{
    display: inline-block;
}
header nav a{
    transition: background-color 0.4s; 
}

header nav a:hover{
    background-color: rgba(0,0,0,.1)
}
header .active {
    background-color: rgba(0,0,0,.1);
}
/*** HEader ***/
.call-to-action{
    text-align: center;
}


.call-to-action a{
    text-decoration: none;
    color: #fff;
    background-color: #55c18f;
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 50px 0px;
    transition: all 0.4s;
    border: none;
}

.call-to-action a:hover{
    background-color: #fff;
    color: #55c18f;
}

#get-in-touch form input: hover{
    background-color: white;
    border: 1px solid #edeff0;
}
#get-in-touch h2{
    padding: 15px;
    text-align: center;
    
    
}
#get-in-touch p{
    font-style: italic;
    padding: 10px;
}
#get-in-touch form{
   padding: 10px;
    max-width: 500px;
    margin: auto;
}
#get-in-touch form input,
#get-in-touch form textarea{
    width:100%;
    margin: 5px 0px;
    padding: 10px;
    border: solid transperant;
    background-color: #edeff0;
}



/***Footer***/
footer{
    background-color: black;
    color: #fff;
}
footer .contact-info p{
    text-align: center;
    font-size: 1em;
}
footer form{
    text-align: center;
}
footer p2{
    text-align: center;
    font-size: 0.5em;
    margin: 10px 0px;
}
@media screen and (min-width: 750px){
    header #logo{
       display: inline-block;
       width: 30px;
        padding: 10px;
    }
    header nav{
        display: inline-block;
        width: 60%;
    }
    .event,
    .member,
    .faq{
        float: left;
        width: 45%;
        margin: 2%;
    }

    .events-container: after{
        content: " ";
        display: block;
        clear: both;
    } 
    .members-container:after,
    faq-container:after {
        content: " ";
        display: block;
        clear: both;
    }
    .call-to-action:{
        clear: both;
        
    }
    footer.services,
    footer.contact-info{
        display: inline-block;
        width: 40%;
    }
    footer .contact-form button{
        margin-left: 20px;
    }
}
